.search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 100vw;
    width: 45vw;
    margin-top: 40px;
    max-width: 50vw;
}

.search__input > input{
    flex: 1 0;
    padding: 10px 20px;
    font-size: medium;
    border: none;
}

.search__input > input:focus{
    outline-width: 0 ;
}

.search__inputIcon{
    color: grey;
}